body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('../../assets/bg3.png');
}

.feedback-form-container {
  display: flex;
  justify-content: flex-end; /* Move content to the right */
  align-items: center; /* Vertically center the form */
  padding: 100px;
  padding-top: 10px;
  min-height: 100vh; /* Ensure full-height layout */
}

.feedback-form-wrapper {
  max-width: 600px; /* Set form width */
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow for the form */
}

.feedback-form-title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center; /* Center the title */
}

.feedback-form {
  display: flex;
  flex-direction: column; /* Stack the form fields vertically */
}

.feedback-form label {
  margin-bottom: 8px;
  font-weight: bold;
}

.feedback-form input,
.feedback-form select,
.feedback-form textarea {
  width: 100%;
  margin-bottom: 16px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.feedback-form textarea {
  resize: vertical;
  min-height: 120px;
}

.feedback-form button {
  background-color: #624B33;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.feedback-form button:hover {
  background-color: #4a3927;
}
