.app__aboutus {
    background: url('../../assets/bg1.png');
    padding: 2rem;
}

.aboutus__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.aboutus__text {
    flex: 1;
    padding: 0 2rem;
    text-align: left;
}

.aboutus__image {
    flex: 1;
    text-align: center;
    max-width: 100%;
}

.aboutus__image img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: auto; /* Ensure the image height adjusts proportionally */
    max-width: 700px; /* Optional: limit the max width for large screens */
}

.app__headtext {
    font-family: 'The Seasons';
    font-size: 4.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #624B33;
    
}
.app__title {
    font-family: 'Cormorant', serif; /* Use your desired font */
    font-size: 10rem;
    text-align: center;
    color: #624B33;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 2px solid #624B33;
    border-bottom: 2px solid #624B33;
}

.app__header-chapter {
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
}

@media screen and (max-width: 768px) {
    .aboutus__section {
        flex-direction: column;
        text-align: center;
    }

    .aboutus__text {
        padding: 0;
        margin-bottom: 2rem;
    }

    .headtext__cormorant {
        font-size: 2rem;
    }

    .app__header-chapter {
        font-size: 0.9rem;
    }

    .aboutus__image img {
        width: 80%;
        max-width: none; /* Allow image width to be 80% of the container */
    }
}
